body {
margin:0;
width:100%;
color:black;
background-color:#FFFFFF;
   -moz-transform: scale(1.0, 1.0);
   zoom: 1.0;
   zoom: 100%;
}

#maincontent{
/* max-width:1400px; */
 margin-left:auto;
 margin-right:auto;
 padding: 0;
 background-color:#FFFFFF;
}

#fullWidth {
  width: 100%;
}
.panel{
 margin-left:auto;
 margin-right:auto;
max-width:1400px;

}



.content_underline
{ height: 2px;
margin-left:auto;
margin-right:auto;
  background: #777;
  width:95%;
  }

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

.canvasimage{
  border-bottom: 1px solid rgba(0,0,0,0.3); 
  background-color: #FFF;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}



.hiddendiv {
    display: none;
    font-size:16.5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}


.paylistunpaid{
background-color:red;
}
.paylistpaid{
background-color:green;
}

.verification{
 border-bottom: 1px solid rgba(0,0,0,0.3); 
  background-color: #FFF;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
  width:90%;
  max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding:5px;
}


#progress-bar {background-color: #12CC1A;height:20px;color: #FFFFFF;width:10%;-webkit-transition: width .3s;-moz-transition: width .3s;transition: width .3s;}
#progress-div {border:#0FA015 1px solid;padding: 5px 0px;margin:30px 0px;border-radius:4px;text-align:center;}
#targetLayer{width:100%;text-align:center;}

.privateidea{
float:left; 
padding:5px; 
margin:5px; 
background-color:#33CCFF;
-moz-border-radius: 5px;
 border-radius: 5px;
}

.publicidea{
float:left; 
padding:5px; 
margin:5px; 
background-color: #5CE62E;
-moz-border-radius: 5px;
 border-radius: 5px;
}

.quicklink{
float:left; 
padding:5px; 
margin:5px; 
background-color:#FFCC99;
-moz-border-radius: 5px;
 border-radius: 5px;
}

.cirrus_chats{
width:100%;
padding:3px;
}

.recieved_chat{
padding:5px; 
margin-top:10px;
margin-bottom:5px;
background-color:#FBF6FF;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 850px;
  width:80%;
  float:left;
  -webkit-box-shadow: 5px 5px 5px 5px #A5A5A5;
    -moz-box-shadow: 5px 5px 5px 5px #A5A5A5;
    box-shadow: 5px 5px 5px 5px #A5A5A5;
}

.sent_chat{
padding:5px; 
margin-top:10px;
margin-bottom:5px;
background-color:#D1F0FF;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 850px;
   width:80%;
  float:right;
  -webkit-box-shadow: 5px 5px 5px 5px #A5A5A5;
    -moz-box-shadow: 5px 5px 5px 5px #A5A5A5;
    box-shadow: 5px 5px 5px 5px #A5A5A5;
}


.recieved_chat_sub{
background-color:#FBF6FF;
margin-bottom:2px;
}

.sent_chat_sub{
background-color:#D1F0FF;
margin-bottom:2px;
 }



.cirrus_thought_private{
padding:5px; 
margin-top:5px;
margin-bottom:5px;
background-color:#DBF6FF;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 650px;
}

.cirrus_thought_public{

padding:5px; 
margin-top:5px;
margin-bottom:5px;
background-color: #CCFFCC;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 650px;
}

.cirrus_own_thought{
padding:5px; 
margin-top:5px;
margin-bottom:5px;
background-color: #99FFCC;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 650px;
}

.cirrus_thoughtcomment{
padding:5px; 
margin-top:5px;
margin-bottom:5px;
background-color: #FFFFCC;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 650px;
}

.cirrus_rundown_file{
padding:5px; 
margin-top:5px;
margin-bottom:5px;
background-color: #FFFFCC;
-moz-border-radius: 5px;
 border-radius: 5px;
  max-width: 650px;


}

.searchmemberdiv {
float:left; 
padding:5px; 
margin:5px; 
background-color:#CCFF99;
-moz-border-radius: 5px;
 border-radius: 5px;
}

.navbar-custom {
  background-color: #5CE62E; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.navbar-custom {
  background-color: #5CE62E; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar-alt-color{
 background-color: #99FF99; 
}

.icon-bar{
  background-color: #000000; /* background color will be black for all browsers */
 }


.verification img{
float:left;
}

.pagehitcount{
font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
font-size: 0.5em;
}


.ng-invalid.ng-dirty{
border-color: #FA787E;
}

.ng-invalid.ng-dirty{
border-color: #78FA89;
}
.centered {
margin-left:auto;
margin-right:auto;
padding:5px;
max-width: 1200px;
}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }


.tablefont{
font-size:1em;
}

#signupButton {
display:       inline-block;
padding-top:       11px;
padding-bottom:       11px;
width:  85%;
background:    #e0e8dd url('images/signupbutton.png') repeat-x;
background:    -moz-linear-gradient(#5ce62e, #e0e8dd);
background:    -o-linear-gradient(#5ce62e, #e0e8dd);
background:    -webkit-linear-gradient(#5ce62e, #e0e8dd);
background:    linear-gradient(#5ce62e, #e0e8dd);
border:        1px solid #0a0d13;
color:         #1c5702;
font:          normal 700 24px/1 "Ubuntu", sans-serif;
text-align:    center;
text-shadow:   1px 1px 0 #000;

}

.bops { background-color: #FFFFFF; transition: all 0.3s; -webkit-transition: all 0.3s; border: 2px solid #E5E5E5;  margin-top: 90px; padding: 120px 30px 20px; }
.bops .circleBox { position: absolute; top: 0px; left: 50%; top:-50%; margin-left: -90px; }
.bops .circle-border-inside { background: #fff; }
.bops li { padding: 10px 15px; display: block; width: 100%; border-top: 1px solid #e5e5e5; }
.bops li:first-child { border: none; }
.bops:hover { color: #fff; border-color: #333; background: #333; }
.bops:hover i { transform: rotate(360deg); transform: rotate(360deg); }
.bops:hover .circle-border-outside { border-color: #484848; }
.bops:hover .circle-border-inside { border-color: #54C5F1; }
.bops:hover .circle-triangle { border-color: #484848 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }
.bops { }


.pagination li a{

cursor:pointer;
}


.file_browse_wrapper {
width: 93px;

height: 28px;
display:block;

background: url('https://cirrusidea.com/images/fupbutton.png');
background-size: 93px 22px;
background-repeat: no-repeat;

border:none;

overflow:hidden;

}

.file_browse_wrapper:hover {

background: url('https://cirrusidea.com/images/fupbuttonhover.png') 0 0 no-repeat;
background-size: 93px 22px;
background-repeat: no-repeat;
cursor: arrow;
}

.file_browse_wrapper:active {

background: url('https://cirrusidea.com/images/fupbuttonactive.png') 0 0 no-repeat;
background-size: 93px 22px;
background-repeat: no-repeat;

}

.specialfileinput{

margin-left:-145px;

opacity:0;

-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

}

.blinkit {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.payOutStats {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.payOutStats table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.payOutStats tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.payOutStats table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.payOutStats table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.payOutStats tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.payOutStats tr:hover td{
	
}
.payOutStats tr:nth-child(odd){ background-color:#d4ffaa; }
.payOutStats tr:nth-child(even)    { background-color:#ffffff; }.payOutStats td{
	vertical-align:middle;
	
	
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.payOutStats tr:last-child td{
	border-width:0px 1px 0px 0px;
}.payOutStats tr td:last-child{
	border-width:0px 0px 1px 0px;
}.payOutStats tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.payOutStats tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.payOutStats tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.payOutStats tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.payOutStats tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/*------------------------------------------------------------------------------*/
/*------------------------MEDIA QUERIES---------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/



@media only screen and (min-width: 960px){  

}

@media only screen and (min-width: 759px) and (max-width: 959px) {

}



@media only screen and (min-width: 671px) and (max-width: 758px) {
     

}


@media only screen and (min-width: 569px) and (max-width: 670px) {
     

}



	/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 568px) {
    

}

.page{
display: block;
background-color: #DADAF7;
padding: 5px;
  -webkit-box-shadow: 5px 5px 5px 5px #A5A5A5;
    -moz-box-shadow: 5px 5px 5px 5px #A5A5A5;
    box-shadow: 5px 5px 5px 5px #A5A5A5;
width:95%; 
margin-left:auto; 
margin-right:auto;
}

textarea#commentarea {
	width: 70%;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-color:#FFEEA9;
}
textarea:focus {
        outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    background-color:white;

}

#logo {display:block; margin:0; width:350px;  float:left;}

#slogan {display:block; margin:0; width:400px; float:right;}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }

.top-bar {
width:100%;
    background-color: white;
   font-size: 30px;
    color: red;
    font-weight: bold;
}

.nav-bar {
width:100%;
    background-color: orange;
    height: 60px;
    font-size: 30px;
    color: red;
    font-weight: bold;
}




.card {
    -webkit-box-shadow: 5px 5px 5px 5px #A5A5A5;
    -moz-box-shadow: 5px 5px 5px 5px #A5A5A5;
    box-shadow: 5px 5px 5px 5px #A5A5A5;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* ***************** ********************* */
/* ****************  Animations  ********************* */
/* ***************** ********************* */

.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:relative;
  top:0;
  left:0;
  right:0;
  min-height:1000px;
}

.slide-animation.ng-enter {
  opacity:0;
  left:100px;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}



/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}


/* ***************** ********************* */
/* ***************** ********************* */
/* ***************** ********************* */
/* ***************** ********************* */
/* ***************** ********************* */


.col1 {  margin:0 5px 0 0; padding:0; width:65%; padding:0px 0 0px; float:left; }

.col2 { width:25%; margin:10px 5px 0 0; float:right; }

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#d4ffaa; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*------------------------------------------------------------------------------*/
/*------------------------MEDIA QUERIES---------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.cirrus_thought_private{
width: 100%;
 float: left;
    margin-left:5px;
    margin-right:5px;

}

.cirrus_thought_public{
  width: 100%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}

.cirrus_own_thought{
  width: 100%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}


.cirrus_rundown_file{
  width: 100%;
 float: left;
    margin-left:5px;
    margin-right:5px;

}

.searchmemberdiv {
width:none;
}

.hideformobile {
display:block;
}

.fontmorph{
font-size: 15px;
}

@media only screen and (min-width: 1200px){
.footier{
width:32%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:1em;
}

#logo {width:350px;}
#slogan {width:450px;}

.col1 {  margin:0 10px 0 0; padding:0; width:65%; padding:0px 0 0px; float:left;}

.col2 { width:25%; margin:10px 5px 0 0; float:right; }

.cirrus_thought_private{
width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}

.cirrus_thought_public{
  width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}
.cirrus_own_thought{
  width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}

.cirrus_rundown_file{
  width: 30%;
   float: left;
    margin-left:5px;
    margin-right:5px;

}

.searchmemberdiv {
width:none;
}
.hideformobile {
display:block;
}
.fontmorph{
font-size: 15px;
}
}  

 @media only screen and (min-width: 960px) and (max-width: 1199px) {
 
 .footier{
width:32%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:1em;
}

#logo {width:350px;}
#slogan {width:450px;}

.col1 {  margin:0 10px 0 0; padding:0; width:65%; padding:0px 0 0px; float:left;}

.col2 { width:25%; margin:10px 5px 0 0; float:right; }

.cirrus_thought_private{
width: 100%;
  float: none;
    margin-left:auto;
    margin-right:auto;
}

.cirrus_thought_public{
  width: 100%;
   float: none;
    margin-left:auto;
    margin-right:auto;

}

.cirrus_own_thought{
  width: 100%;
    float: none;
    margin-left:auto;
    margin-right:auto;


}
.cirrus_rundown_file{
  width: 30%;
   float: left;
    margin-left:5px;
    margin-right:5px;

}

.searchmemberdiv {
width:none;
}
.hideformobile {
display:block;
}
.fontmorph{
font-size: 15px;
}

}

@media only screen and (min-width: 759px) and (max-width: 959px) {
      
.footier{
width:32%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:0.9em;
}    


#logo {width:300px;}

#slogan {width:400px;}


.col1 {  margin:0 10px 0 0; padding:0; width:65%; padding:0px 0 0px; float:left;}

.col2 { width:25%; margin:10px 5px 0 0; float:right; }



.cirrus_thought_private{
width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}

.cirrus_thought_public{
  width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}
.cirrus_own_thought{
  width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}

.cirrus_rundown_file{
  width: 30%;
   float: left;
    margin-left:5px;
    margin-right:5px;

}

.searchmemberdiv {
width:none;
}
.hideformobile {
display:block;
}

.fontmorph{
font-size: 15px;
}
}



@media only screen and (min-width: 671px) and (max-width: 758px) {
     .footier{
width:47%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:0.8em;
}


#logo {width:55%;}
#slogan {width:40%;}
textarea#commentarea {
	width: 90%;
	}

.col1 {  margin:0 0 0 0; padding:0; width:100%; padding:0px 0 0px; float:left;}

.col2 { width:100%; margin:10px 5px 0 0; float:left; }


.cirrus_thought_private{
width: 48%;
 float: left;
    margin-left:5px;
    margin-right:5px;
}

.cirrus_thought_public{
  width: 48%;
   float: left;
    margin-left:5px;
    margin-right:5px;
}
.cirrus_own_thought{
  width: 48%;
  float: left;
    margin-left:5px;
    margin-right:5px;

}

.cirrus_rundown_file{
  width: 30%;
   float: left;
    margin-left:5px;
    margin-right:5px;

}

.searchmemberdiv {
width:none;
}
.hideformobile {
display:block;
}
.fontmorph{
font-size: 15px;
}
}


@media only screen and (min-width: 569px) and (max-width: 670px) {
     
 .footier{
width:47%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:0.7em;
}

#logo {width:55%;}
#slogan {width:40%;}
textarea#commentarea {
	width: 90%;
	}
	  .col1 {  margin:0 5px 0 0; padding:0; width:100%; padding:0px 0 0px; float:left;}

.col2 { width:100%; margin:10px 5px 0 0; float:left; }


.cirrus_thought_private{
width: 100%;
 float: none;
    margin-left:auto;
    margin-right:auto;
}

.cirrus_thought_public{
  width: 100%;
   float: none;
    margin-left:auto;
    margin-right:auto;
}

.cirrus_own_thought{
  width: 100%;
   float: none;
    margin-left:auto;
    margin-right:auto;
}

.cirrus_rundown_file{
  width: 46%;
   float: left;
    margin-left:5px;
    margin-right:5px;
}

.searchmemberdiv {
width:none;
}
.hideformobile {
display:block;
}
.fontmorph{
font-size: 10px;
}
}



	/* All Mobile Sizes (devices and browser) */

@media only screen and (min-width: 400px) and (max-width: 568px) {
.footier{
width:100%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:0.6em;
}

    
#logo {width:55%;}
#slogan {width:40%;}
textarea#commentarea {
	width: 90%;
	}
	  .col1 {  margin:0 5px 0 0; padding:0; width:100%; padding:0px 0 0px; float:left;}

.col2 { width:100%; margin:10px 5px 0 0; float:left; }

.cirrus_thought_private{
width: 100%;
   float: none;
    margin-left:auto;
    margin-right:auto;

}

.cirrus_thought_public{
  width: 100%;
     float: none;
    margin-left:auto;
    margin-right:auto;

}
.cirrus_own_thought{
  width: 100%;
     float: none;
    margin-left:auto;
    margin-right:auto;

}

.searchmemberdiv {
width:45%;
}
.hideformobile {
display:block;
}
.cirrus_rundown_file{
  width: 46%;
   float: left;
    margin-left:5px;
    margin-right:5px;

}

.fontmorph{
font-size: 10px;
}
}

@media only screen and (max-width: 399px) {
.footier{
width:100%;
padding:10px;
float:left;
display:block;
}
.tablefont{
font-size:0.6em;
}

.cirrus_rundown_file{
  width: 100%;
   float: none;
    margin-left:auto;
    margin-right:auto;
}


.searchmemberdiv {
width:85%;
}

.hideformobile {
display:none;
}
.fontmorph{
font-size: 10px;
}
}


/*   #5CE62E */



